label{
  margin: 10px;
}
h5{
  margin-top: 15px;
}
button {
  margin: 10px;
}
h1{
  font-size: 23px;
}
h2{
  font-size: 20px;
}
.form_wrapper{
  border: solid 2px dodgerblue;
  width: 100%;
  background-color: white;
}
.flag_block{
  margin-left: -50px;
}
.modal_w{
  position: fixed;
  left: 50%;
  margin-left: -150px;
  margin-top: -50px;
  top: 50%;
  width: 300px;
  padding: 15px;
}
