<div class="container col-lg-6">
  <h1 class="text-center">Registration</h1>
  <div class="card">
    <div class="card-body">
      <form class="form-group">
        <div class="form-group">
          <label>User Name :</label>
          <input type="text" class="form-control" id="username" [(ngModel)]="user.username" placeholder="Enter User Name"
                 name="username">
        </div>
        <div class="form-group">
          <label>Password:</label>
          <input type="password" class="form-control" [(ngModel)]="user.password" id="password" placeholder="Enter password"
                 name="password">
        </div>
        <div class="form-group">
          <label>Repeat Password:</label>
          <input type="password" class="form-control" [(ngModel)]="password" id="password2" placeholder="Enter password"
                 name="password">
        </div>
        <button (click)=registration() class="btn btn-success">OK</button>
        <a class="float-right" href="/">Login</a>
      </form>
      <p>{{error}}</p>
    </div>
  </div>
</div>
