<div class="container">
  <app-logout></app-logout>
  <a *ngIf="isAdmin()" class="btn btn-primary" href="/station-report">Report</a>
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Find ticket!</h1>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-10 col-12 offset-lg-1">
      <form>
        <div class="row">
          <div class="col">
            <label>From:</label>
            <input type="text" class="form-control" id="from" [(ngModel)]="request.from"
                   placeholder="Enter departure city"
                   name="username">
          </div>
          <div class="col">
            <label>To:</label>
            <input type="text" class="form-control" [(ngModel)]="request.to" id="to"
                   placeholder="Enter city of arrival"
                   name="password">
          </div>
          <div class="col">
            <label>Date:</label>
            <input type="date" class="form-control" [(ngModel)]="request.date" id="date"
                   placeholder="Enter date"
                   name="password">
          </div>
          <div class="col">
            <label>Adult:</label>
            <input type="number" class="form-control" [(ngModel)]="request.adult" id="adult"
                   placeholder="Enter count of adult"
                   name="password">
          </div>
          <button (click)=findTicket() class="btn btn-primary btn_ok">Ok</button>
        </div>

      </form>
    </div>
  </div>

  <p>{{error}}</p>
</div>
<div id="preloader" class="preloader" [hidden]="isReady">
  <div id="loader"></div>
</div>
<div [hidden]="!isReady">
<div class="col-lg-12 d-flex justify-content-center"  *ngFor="let ticket of tickets; index as i">
  <div class="ticket-box col-lg-8 d-inline-flex  align-items-center">
    <div><p>{{ticket.airline}}</p></div>
    <div><p>{{ticket.departureAir}}</p>
      <p>{{ticket.departureDate}}</p></div>

    <div id="line"></div>
    <div><p>{{ticket.arrivalAir}}</p>
      <p>{{ticket.arrivalDate}}</p></div>
    <div><a href="{{ticket.link}}" (click)=saveTicket(ticket)>Buy for {{ticket.price}} </a></div>


  </div>
</div>
</div>
